.container{
    overflow: hidden;
    height: 92.75%;
}

.titleContainer{
    margin: 10vh 0 0 6vw;
}
.title{
    font: {
        size: 1.6em;
        weight: 700;
    }
    span {
        color: #9D11FF;
    }
}
.subTitle{
    font: {
        size: 1.2em;
        weight: 400;
    }
}