@import '/src/styles/utils/utils';

.senseBox {
    display: flex;
    gap: 20px;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;

    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.15);

    position: relative;
    overflow: hidden;
}

.swiped {
    right: 60px; // Adjust as needed to place the button on-screen
}

.deleteButton {
    position: absolute;
    right: -50px; // Adjust as needed to place the button off-screen
    top: 50%;
    transform: translateY(-50%);
    background-color: blue;
    color: white;
    border: none;
    // ... other styles for the button
}

.img {
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 1.3rem;
    font-weight: 700;
}

.countBox {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.15);
    font-size: 0.8rem;
}

.count {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
        width: 15px;
        height: 15px;
    }
}

.divider {
    border: 0.5px solid gray;
}
