@import '/src/styles/utils/utils';
.container{
    @include entireContainer;
    display: block;
    overflow: hidden;
}

.offerContainer{
    position: absolute;
    top: 10vh;
    width:100%;
    height: 89vh;
    overflow-y:auto;
    overflow-x: hidden;
}

.offerName{
    color: #262626;
    font-family: Inter;
    font-size: 1.3em;
    width: 100vw;
    text-align: center;
    margin:30px 0 55px 0;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.imageContainer{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    :first-child {
        width: 8px;
        height: 12px;
        margin: 10px;
 
    }
    :last-child{
        width: 8px;
        height: 12px;
        margin: 10px;
    }
}

.image{
    width: 80vw;
    height: 80vw;
    border-radius: 10px;
    margin-bottom:20px;
}

.imageInfo{
    width:100vw;
    color: black;
    font-family: Inter;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2%;
}

.title{
    font-size: 1.17em;
    font-weight: 700;
    transform: translateX(5vw);

}

.box{
    width: 90%;
    transform: translateX(5vw);
    height: 60px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}
.squareBox{
    width: 90vw;
    min-height: 120px;
    transform: translateX(5vw);
    border-radius: 12px;
    background: #FFF;
    padding: 20px 0 0 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin: 20px 0;
}
.phone{
    width: calc(50% - 1px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verticalLine{
    width: 1px;
    height: 40%;
    margin-top: 7%;
    background: rgba(217, 217, 217, 0.80);
    
}


.horizontalLine{
    width: 90%;
    height: 1px;
    margin: 26px 0;
    background: rgba(217, 217, 217, 0.80);
    transform: translateX(5vw);
}

.atag{
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
    margin: 0px 10px;
}


.clipBoard{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
}
.addressContainer {
    height: 25px;
    color: #707070;
    font-family: Inter;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5%;
    display: flex;
    overflow: hidden;
    line-height: 25px; 
    width: 90%;
    :first-child{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
  

.entityContainer{
    height: 40px;
    display: flex;
    color: #262626;

    font-family: Inter;
    font-size: 1em; 
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    :first-child {
        margin-left: 6%;
        margin-right: 4%;
    }
}