.button{
    position: absolute;
    bottom: 0;
    width:100vw;
    height: 7.25vh;
    text-align: center;
    line-height: 7.25vh;
    font-size: 1em;
    font-weight: 600;
    color: white;
}
.noneactive{
    background-color: #767676;
}

.active{
   background-color:#842CFF;
}
