.container{
    width: 100vw;
    height: 100vh;
    background-color:#white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.initialNotice{
    font-size: 1.1em;
    font-weight: 700;
    width: 100vw;
    position: absolute;
    bottom: 40vh;
    span {
        color:#842CFF;
    }
}
.startButton{
    position: absolute;
    bottom: 20vh;
    width: 93.4vw;
    height: 7vh;
    background-color: #842CFF;
    border-radius: 48px;
    color:white;
    text-align: center;
    line-height: 7vh;
    font-size: 18px;
    font-weight: 700;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
