@import '/src/styles/utils/utils';
$background-color:white;
.container{
    @include entireContainer($background-color);
}
.initialNotice{
    font: {
        font-size: 1.1em;
        font-weight: 700;
    }
    width: 100vw;
    position: absolute;
    bottom: 40vh;
    line-height: 1.5em;
    span {
        color:#842CFF;
    }
}
.startButton{
    position: absolute;
    bottom: 20vh;
    width: 93.4vw;
    height: 7vh;
    margin-left: 3.3vw;
    background-color: #842CFF;
    border-radius: 48px;
    color:white;
    text-align: center;
    line-height: 7vh;
    font: {
        font-size: 18px;
        font-weight: 700;
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}