.answer{
    width: 45vw;
    height: 40px;
    margin:5px;
    text-align: center;
    line-height: 40px;
    color:#282D2F;
    border-radius: 25px;
    background-color:#EBEBEB;
}
.answerContainer{
    display: flex;
    width: 100vw;
    margin-top: 10%;
    flex-wrap: wrap; 
}
.question{
    margin: 10vh 0 0 25px;
    white-space:pre-line;
    font-weight: 700;
    font-size: 25px;
    span {
        color: #9D11FF;
    }
    b {
        color: black;
        font-size: 18px;
    }
}
.hightlighted{
    color:red;
}
.filterInterval{
    color: #919191;
    font-size: 11px;

}
.filterIntervalBox{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-left:5vw;
}