.textinput{
    width: 80vw;
    background-color: transparent;
    border-color: transparent;
    line-height: 4.8vh;
    font-weight: 400;
    margin-left: 15px;
}
.img {
    width: 30px;
    height: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 5.44vh;
    border-radius: 40px;
    position:relative;
    margin-left: 5vw;
}
