@import '/src/styles/utils/utils';
.container{
    width:100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.topContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 38vh;
    left: 0;
    background: linear-gradient(124.1deg, #842CFF 7.96%, #B247FF 79.94%);
    z-index: 1;
}
.bottomContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65vh;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    z-index: 80;
    display: flex;
    flex-direction: column;

}
.mypageLinker{
    position: absolute;
    left: 86vw;
    top: 3vh;
    width: 8.4vw;
    height: 8.4vw;
    background-color: #D9D9D9;
    border-radius: 100px;
    z-index: 99; 
}
.message{
    font-size: 1.7em;
    font-weight: 400;
    color:white;
    margin: 5% 0 5% 4.85vw;
    
}

.customTitle{
    font-weight: 700;
}
.areaBox{
    display:flex;
    width: 55vw;
    height: 4.83vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: #842CFF;
    font-size: 1.1em;
    margin-left: 5vw;
    :first-child {
        width: 7.18vw;
        height: 2.42vh;
        margin: 4px;
    }
}
.news{
    width: 90vw;
    height: 19.56vh;
    background-color: #FFE071;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 2vh 5vw 1vh 5vw;
}

.newsTitle{
    width: 90vw;
    height: 6vh;
    background: #F5F5F5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 1vh 5vw;
}
.locationContainer{
    margin: {
        top: 8vh;
    }
    display: flex;
    justify-content: space-evenly;
}
.locationBox{
    @include centerContainer;
    flex-direction: column;
    margin:5px;
    background-color:white;
    border: 1px solid;
    border: {
        radius: 10px;
        color:white;
    }
    width: 25vw;
    height: 25vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.locationFont{
    font: {
        size: 11px;
    }
}