.title{
    font-weight: 700;
    font-size: 25px;
    margin-top:30px;
    color: #9D11FF;
}
.contents{
    line-height: 27px;
    margin-left: 10px;
    span {
        font-weight: 700;
    }
}
.button{
    position:absolute;
    background-color: #842CFF;
    border: 0px;
    bottom :0;
    color: white;
    font-size:15px;
    height: 50px;
    &.todayClose {
        left:0;
        width: 70%;
        
    }
    &.close {
        left:70%;
        width: 30%;
    }
}
.image{
    width: 120px;
    position: absolute;
    right: 10px;
    bottom: 80px;
    z-index: -1;
}