@import '/src/styles/utils/utils';
$background-color:white;
.container{
    @include entireContainer($background-color);
    height: 90vh;
    display: block;
}
.elementContainer{
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 80vh;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;

}
