.title{
    font-weight: 700;
    font-size: 25px;
    color: #9D11FF;
}
.button{
    position:absolute;
    background-color: #842CFF;
    border: 0px;
    bottom :0;
    color: white;
    z-index: 99;
    font-size:15px;
    height: 50px;
    &.todayClose {
        left:0;
        width: 70%;
        
    }
    &.close {
        left:70%;
        width: 30%;
    }
}
.noticeImage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    z-index: 1;
    margin:0,
}
