.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: rgba(0,0,0,0);
    z-index: 99;
}
.image{
    position: fixed;
    left:5vw;
    width:3.6vw;
    height: 2.9vh;
}
.title{
    font-weight: 700;
    font-size: 1.25em;
    line-height: 3.3%;
}