@import '/src/styles/utils/utils';
.container{
    width: 100vw;
    @include centerContainer;
    height: 10%;
    background-color: rgba(0,0,0,0);
    z-index: 99;
}
.image{
    position: fixed;
    left:5vw;
    width:3.6vw;
    height: 2.9vh;
}
.title{
    font: {
        size: 1.25em;
        weight: 700;
    }
    line-height: 3.3%;
}