@import '/src/styles/utils/utils';

$background-color: white;

.container {
    @include entireContainer($background-color);
}

.content {
    position: absolute;
    width: 100vw;
    top: 10vh;
    height: 89vh;
    margin-top: 1vh;
    overflow: auto;
}

.detailContainer {
    padding: 20px;
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.imageContainer {
    width: 100%;
    aspect-ratio: auto 1/1;
    border-radius: 23px;
    margin-bottom: 20px;

    .img {
        width: 100%;
        aspect-ratio: auto 1/1;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.detailInfo {
    margin-bottom: 20px;
}
