.answerButton{
    width: 45%;
    height: 40px;
    margin:5px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
}
.nonactiveAnswerButton{
    @extend .answerButton;
    background-color:#EBEBEB;
    color:#282D2F;
}
.activeAnswerButton{
    @extend .answerButton;
    background-color: #0D1315;
    color: #FFFFFF;
}
.answerContainer{
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;
    flex-wrap: wrap; 
    max-height: 60vh;
}

