.totalBox{
    display: flex;
    margin: 10vh 0 0 30px;
}
.basicCircle{
    background-color:#E4E4E4;
    height: 10px;
    border-radius: 100px;
    margin:1px;
}

.coloredCircle{
    @extend .basicCircle;
    background-color:#AC00FF;
    width: 20px;
}
.circle{
    @extend .basicCircle;
    background-color:#E4E4E4;
    width: 10px;
}