.knowledgeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 0 20px;
}

.image {
    width: 100%;
    aspect-ratio: auto 1 / 1;
    background-color: #d9d9d9;
    border-radius: 10px;
}
