@import '/src/styles/utils/utils';
.container {
    @include centerContainer();
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.contents{
  color: #0D1315;
  font-size: 1.55em;
  span {
    color: #9D11FF;
  }
  font-style: normal;
  font-weight: 700;
  width: 80%;
  line-height: normal;
  margin: 0% 0% 8% 0;
}

.image{
  animation: blink 1s infinite;
  width: 45%;
  margin: 8% 0 15% 0;
}

.button{
  width: 55%;
  height: 48px;

  font-family: Inter;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 30px;

  border: none;
  margin-bottom: 15px;
}
.puppleButton{
  @extend .button;
  background-color: #842CFF;
  color: #FFF;

}

.greyButton{
  @extend .button;
  background-color: #EBEBEB;
  color: #282D2F;
}



@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

