.container{
    width: 100vw;
    height: 100vh;
    background-color:#F5F5F5;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block{
    background-color:#FFFFFF;
    width: 100vw;
    margin-bottom: 10px;
    padding-left: 20.46vw;
    padding-top: 10%;
}
.title{
    color: #9D11FF;
    font-size: 1.3em;
    font-weight: 700;
}
.content{
    color: #6F7070;
    font-size: 1.0em;
    margin: 25px 0 20px 0;
    font-weight: 400;
}
