@import '/src/utils/utils';

.container {
    width: 80vw;
    height: 25vh;
    border-radius: 40px;
    background-color: white;
    z-index: 99;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}
