.question{
    margin: 0 0 0 25px;
    white-space:pre-line;
    font: {
        size: 25px;
        weight: 700;
    }
    span {
        color: #9D11FF;
    }
    b {
        color: black;
        font-size: 18px;
    }
}